(
  [
    (
      name: "ship_1",
      components:[
        Graphic((
          shape: Rectangle(20., 10.), 
          color: Random,
        )),
        Collider((
          bounding: Rectangle(20., 10.),
          collision_layer: Ship,
        )),
      ],
      modules:[],
      children:
      [
        (Engine, "engine_1"),
        (Engine, "thruster_1"),
        (Gun, "gun_1"),
        (Sonar, "sonar_1"),
      ]
    ),

    (
      name: "ship_2",
      components:[],
      modules:[],
      children:
      [
        (Engine, "engine_2"),
        (Gun, "gun_2"),
        (Sonar, "sonar_1"),
      ]
    ),
  ]
)
